@media screen and (max-width:675px) {

    .nav-bir,
    ul,
    .populer-tours,
    .card-box,
    .simple-perfect,
    .newsletter {
        flex-direction: column;
    }

    /* =========================================== */

    .nav-bir>ul {
        margin-top: 10px;
    }

    .logo-bir {
        width: 90%;
    }

    .tours-content,
    .tours-img,
    .card-box-2,
    .footer {
        width: 100%;
    }

    .deals-card {
        width: 90%;
        height: 70%;
    }

    .banner-section .banner-discription {
        padding: 0;

    }

    .banner-section form input,
    .banner-section form select,
    .banner-section button {
        width: 100%;
        margin-bottom: 10px;
    }

    /* =========================================== */
    .row {
        flex-direction: column;
    }

    /* .tex-position {
        position: relative;
    }

    .maldiv {
        position: absolute;
    } */
    .tex-position img {
        width: 100%;
    }

    /* ======================================= */
    .simple-perfect-content,
    .deal-content {
        width: 100%;
    }


}