@media screen and (max-width:675px) {

    .nav-bir,
    ul,
    .populer-tours,
    .card-box,
    .simple-perfect,
    .newsletter {
        flex-direction: column;
    }

    /* =========================================== */
    .banner-section .banner-title {
        font-size: 2rem;
    }

    .nav-bir>ul {
        margin-top: 10px;
    }

    .logo-bir {
        width: 90%;
    }

    .tours-content,
    .tours-img,
    .card-box-2,
    .footer {
        width: 100%;
    }

    .mid-btn {
        display: none;
    }

    .choose-tit {
        width: 100%;
        /* margin: 0; */
        padding-bottom: 20px;
        font-size: 1.8rem;


    }

    .deals-card {
        width: 90%;
        height: 70%;
    }

    .banner-section .banner-discription {
        padding: 0;

    }

    .banner-section form input,
    .banner-section form select,
    .banner-section button {
        width: 100%;
        margin-bottom: 10px;
    }

    /* =========================================== */
    .row {
        flex-direction: column;
    }

    /* .tex-position {
        position: relative;newsletter
    }

    .maldiv {
        position: absolute;
    } */
    .tex-position img {
        width: 100%;
    }

    /* ======================================= */
    .simple-perfect-content,
    .deal-content,
    .newsletter-content,
    .newsletter-img {
        width: 100%;
    }

    .newsletter-content {
        margin-bottom: 40px;
    }

    .simple-perfect-video iframe {
        width: 335px;
        height: 200px;
    }

    .save-card {
        width: 320px;
        height: 120px;
        background-color: #FF5400;
        text-align: center;
        padding: 20px;
        color: #fff;
        position: absolute;
        border-radius: 1rem;
        top: 40%;
        left: 30%;
        transform: rotate(-20deg);
    }


}