@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Mulish', sans-serif;
    font-family: 'Poppins', sans-serif;
    max-width: 1440px;

}

section {
    margin: 100px 0px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.heaid {
    display: none;
}

.comont-color {
    color: #FF5400;
}

.common-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.common-description {
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
    line-height: 1.5rem
}

.commont-btn {
    padding: 15px 35px;
    background-color: #FF5400;
    color: #fff;
    font-size: 1.25rem;
    margin: 20px 0px;
    cursor: pointer;
    border: 0;
    border-radius: 05px;
}

/* This is common styles end */
/* ===================================================================== */
header {
    background-color: #fff;
}

.nav-bir {
    display: flex;
    justify-content: space-between;
    border: 1px solid #f00;
    align-items: center;
}

.logo-bir {
    display: flex;
    justify-content: space-around;
    width: 50%;
    align-items: center;
    border: 1px solid rgb(38, 0, 255);
    gap: 10px;
}

.logo-bir img {
    width: 20%;
    object-fit: fill;
}

.logo-bir>h2 {
    width: 100%;
    color: #131318;
    font-size: 2.25rem;
    text-transform: capitalize;
    font-weight: 800;
}


.menu-bir {
    width: 50%;
    align-items: end;
    border: 1px solid rgb(0, 5, 0);

}

.menu-bir>ul {
    display: flex;

}

.menu-bir>ul li {
    list-style: none;
    margin-right: 45px;

}

.menu-bir>ul li a {
    text-decoration: none;
    font-size: 1.12rem;
    font-weight: 700;
}

.menu-bir>ul li a.activ {
    color: #FF5400;
}

.menu-bir>ul li a:hover {
    color: #FF5400;
}

.banner-section {
    background-image: url('../Images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    border-radius: 1rem;
}

.banner-section .banner-title {
    text-align: center;
    font-size: 4rem;
    color: #fff;
    font-weight: 800;
    padding-top: 00px 280px 25px 280px;

}

.banner-section .banner-discription {
    text-align: center;
    color: #fff;
    padding: 0px 240px 50px 240px;

}

.form-section {
    width: 80%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;

}

.form-section form {}

.form-section form input {
    width: 33%;
}


/* popular tours section styles start */

.populer-tours {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.tours-content {
    width: 50%;
}

.tours-title {}

.tours-desc {
    padding: 25px 0;
}

.tours-content>ul>li {
    margin-bottom: 20px;
}




.tours-img {
    width: 50%;
}

.tours-img img {
    width: 100%;
}

/* ============================================= */