@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Mulish', sans-serif;
    font-family: 'Poppins', sans-serif;
    max-width: 1440px;

}

.container {
    width: 80%;
    margin: 0 auto;
}

.comont-color {
    color: #FF5400;
}

/* This is common styles end */
/* ===================================================================== */
header {
    background-color: #fff;
}

.nav-bir {
    display: flex;
    justify-content: space-between;
    border: 1px solid #f00;
    align-items: center;
}

.logo-bir {
    display: flex;
    justify-content: space-around;
    width: 50%;
    align-items: center;
    border: 1px solid rgb(38, 0, 255);
    gap: 10px;
}

.logo-bir img {
    width: 20%;
    object-fit: fill;
}

.logo-bir>h2 {
    width: 100%;
    color: #131318;
    font-size: 2.25rem;
    text-transform: capitalize;
    font-weight: 800;
}


.menu-bir {
    width: 50%;
    align-items: end;
    border: 1px solid rgb(0, 5, 0);

}

.menu-bir>ul {
    display: flex;

}

.menu-bir>ul li {
    list-style: none;
    margin-right: 45px;

}

.menu-bir>ul li a {
    text-decoration: none;
    font-size: 1.12rem;
    font-weight: 700;
}

.menu-bir>ul li a.activ {
    color: #FF5400;
}

.menu-bir>ul li a:hover {
    color: #FF5400;
}